@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import "./components/header.scss";

* {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #000;
  --color: #f2f2f2;
  --color-alt: #bbbbbb;
  --primary: #7c3aed;
  --primary-rgb: 124, 58, 237;
  --secondary: #a78bfa;
  --secondary-rgb: 167, 139, 250;
  --tertiary: #c4b5fd;
  --tertiary-rgb: 196, 181, 253;

  --button-bg: #18181a;
  --button-border: #212025;

  --oswald: "Oswald", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --montserrat: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
  color: var(--color);
  overflow-x: hidden;
  background-color: var(--background);
}

main {
  width: 100%;
  height: 80dvh;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;

  .texts {
    max-width: 520px;
    width: 520px;

    .buttons {
      margin-top: 2rem;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1rem;
    }
  }

  .img-me {
    width: auto;
    height: 540px !important;
    align-self: flex-end;
  }
}

.projects {
  min-height: 100vh;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .cards {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2.5rem;
  }
}

.aboutme {
  min-height: 86vh;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    .img-me-circle {
      width: 360px;
      height: 360px;
    }

    .me {
      max-width: 540px;
      width: 540px;
    }
  }
}

.contactme {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .contact {
    width: 90%;
    height: 80%;
    padding: 2rem;
    border-radius: 1rem;
    background: rgba(57, 13, 101, 0.26);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(57, 13, 101, 0.68);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    > div {
      max-width: 50%;
    }
  }
}

@keyframes autoRun {
  from {
    left: 100%;
  }

  to {
    left: calc(var(--width) * -1);
  }
}