<%- include('./partials/header') %>
<style>
    @import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

    html {
        scroll-behavior: smooth;
    }

    * {
        margin: 0;
        padding: 0;
        overflow: hidden;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        scroll-behavior: smooth;
        font-family: "Red Hat Display", sans-serif;
    }

    body {
        height: 100vh;
        width: 100%;
        overflow-x: hidden;
        background-color: #1c1b29;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    section.calculator {
        width: 320px;
        height: 514px;
        background-color: #292841;
        -webkit-box-shadow: 10px 10px 30px #469579a2;
        box-shadow: 10px 10px 30px #469579a2;
    }

    div.screen {
        width: 100%;
        height: 22%;
        background-color: #1c1b29;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    span#result {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 400;
        padding-right: 2rem;
    }

    span#last-calc {
        color: rgba(173, 173, 173, 0.6);
        padding-right: 2rem;
    }

    div.c-buttons {
        width: 100%;
        height: 78%;
        padding-top: 0.4rem;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    div.b1,
    div.b2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    div.b2 {
        margin-top: -4px;
    }

    hr {
        width: 84%;
        margin: 8px auto 12px auto;
        border-color: rgba(173, 173, 173, 0.2);
    }

    div.block {
        margin: 4px 2px;
        width: 72px;
        height: 72px;
        color: #f2f2f2;
        background-color: #435061;

        font-size: 2rem;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    div.block.symbol {
        cursor: pointer;
        background-color: #404d5e;
    }

    div.block:hover {
        cursor: pointer;
        background-color: #353e4b;
    }

    .symbol {
        color: rgb(173, 173, 173) !important;
    }

    .c {
        color: #e35d5d !important;
        font-weight: 500;
    }

    div.block.disable:hover {
        cursor: auto;
        background-color: #435061;
    }
</style>
<%- include('./partials/closeheader') %>

<section class="calculator">
    <div class="screen">
        <span class="last-calc" id="last-calc">0</span>
        <hr />
        <span class="result" id="result">0</span>
    </div>

    <div class="c-buttons">
        <div class="b1">
            <div class="block symbol c" onclick="clean()">C</div>
            <div class="block disable"></div>
            <div class="block symbol" onclick="removeLast()">←</div>
            <div class="block symbol" onclick="acr('/', 'symbol')">/</div>
        </div>
        <div class="b2">
            <div>
                <div class="block" onclick="acr(7)">7</div>
                <div class="block" onclick="acr(4)">4</div>
                <div class="block" onclick="acr(1)">1</div>
                <div class="block disable"></div>
            </div>
            <div>
                <div class="block" onclick="acr(8)">8</div>
                <div class="block" onclick="acr(5)">5</div>
                <div class="block" onclick="acr(2)">2</div>
                <div class="block" onclick="acr(0)">0</div>
            </div>
            <div>
                <div class="block" onclick="acr(9)">9</div>
                <div class="block" onclick="acr(6)">6</div>
                <div class="block" onclick="acr(3)">3</div>
                <div class="block disable"></div>
            </div>
            <div>
                <div class="block symbol" onclick="acr('*', 'symbol')">*</div>
                <div class="block symbol" onclick="acr('-', 'symbol')">-</div>
                <div class="block symbol" onclick="acr('+', 'symbol')">+</div>
                <div class="block symbol" onclick="total()">=</div>
            </div>
        </div>
    </div>
</section>

<script>
    var symbol = 0;
    var last = document.getElementById("last-calc");
    var result = document.getElementById("result");

    function clean() {
        result = document.getElementById("result");

        last.innerText = "0";
        result.innerText = "0";
        symbol = 0;
        firstSymbol = true;
    }

    // Max = 19
    function acr(string, type) {
        if (type === "symbol") {
            isSymbol(string);
        }

        result = document.getElementById("result");

        if (result.innerText.length > 16) {
            return alert("O limite máximo é de 17 caracteres.");
        }

        if (result.innerText === "0") {
            result.innerText = "";
        } else if (result.innerText === "0" && type === "symbol") {
            return (result.innerText = "0");
        }

        if (type !== "symbol") {
            result.innerText += String(string);
        }
    }

    function total() {
        result = document.getElementById("result");

        last.innerText = result.innerText;
        try {
            result.innerText = String(eval(result.innerText)).slice(0, 17);
        } catch (e) {
            alert("Não foi possível calcular, verifique a conta!");
        }
    }

    function removeLast() {
        result = document.getElementById("result");
        var list = result.innerText.split("");
        list.splice(-1, 1);

        result.innerText = list.join().replace(/\,/g, "");
        result = document.getElementById("result");
        if (result.innerText === "") result.innerHTML = "0";
    }

    function isSymbol(string) {
        result = document.getElementById("result");
        var list = result.innerText.split("");
        var idk = list.pop();

        if (["/", "*", "-", "+"].includes(idk)) {
            removeLast();
            acr(string);
        } else {
            acr(string);
        }
    }
</script>

<%- include('./partials/footer') %>
