<footer id="suporte">
    <h2>Agora torne realidade</h2>
    <hr>
    <span>
        <a href="https://www.instagram.com/henrilima.llsh/" target="_blank">Instagram</a>
        <a href="mailto:henrilima.contactme@gmail.com?subject=Olá!&body=Escreva sua mensagem!" target="_blank">Email</a>
        <a href="https://api.whatsapp.com/send?phone=5581996421340&text=Ol%C3%A1!%20Vim%20pelo%20website%20da%20Chromac.%20:D" target="_blank">Whatsapp</a>
    </span>
</footer>
