<main>
    <div>
        <h1>Imagine um lugar...</h1>
        <p>
            ...onde você pode fazer tudo que quiser. Conversar com outras pessoas e jogar. Um lugar que facilita sua
            vida todos os dias.
        </p>

        <div>
            <a href="#suporte" class="main-button mb01"
                ><button>Mais informações</button></a
            >
            <a href="/creator" class="main-button mb02"
                ><button>Sobre o criador</button></a
            >
        </div>
    </div>
</main>

<section class="sct01 flex">
    <img
        src="/assets/Chromac.png"
        alt="Chromac Logo"
        draggable="false"
        class="logo"
    />
    <div>
        <h2>Crie um lugar onde você pertence</h2>
        <p>
            As salas são organizadas para os jogos da Chromac e conversas, onde todos os usuários podem colaborar
            e compartilhar algo sobre o seu dia-a-dia sem lotar o bate-papo da comunidade, tendo a sua privacidade.
        </p>
    </div>
</section>

<section class="sct02 flex">
    <div>
        <h2>De poucos até um fandom</h2>
        <p>
            Transforme uma sala em uma comunidade à parte. Dê aos
            membros permissão de  criar tópicos e muito mais.
        </p>
    </div>
    <img
        src="/assets/Message-Component.png"
        alt="Chromac Component"
        draggable="false"
        class="message-c"
    />
</section>

<section class="sct03 flex">
    <h2>TECNOLOGIA CONFIÁVEL, suas <br> mensagens estão seguras</h2>
    <img
        src="/assets/Chat-Design.png"
        alt="Chromac Component"
        draggable="false"
        class="chat-c"
    />
</section>
