<nav>
    <a href="/#" class="title">Chromac</a>

    <ul>
        <li><a>Nitro</a></li>
        <li><a href="/google">Chat</a></li>
        <li><a href="#suporte">Suporte</a></li>
    </ul>

    <a href="/google" class="login-button">
        <button>Entrar</button>
    </a>
</nav>
