.certificates {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  z-index: 9;
  padding: 2rem;
  overflow: auto;

  .certificates_cards {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;

    .certificates_card {
      min-height: 340px;
      width: 280px;
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: var(--button-bg);
      border: 2px solid var(--button-border);

      .certificate {
        width: 100%;

        &:hover {
          cursor: pointer;
        }
      }

      ._title {
        font-size: 1.4rem;
      }
    }
  }
}

@media (max-width: 900px) {
  .certificates_cards {
    flex-direction: column;

    .certificates_card {
      width: 100% !important;
      min-height: 220px;
      padding: 0.5rem;
    }
  }
}