@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

a {
    color: var(--white);
}

p {
    display: inline-block;
}

:root
{
    --black: #101010;
    --white: #f2f2f2;
    --blurple: #584cda;
    --orange: #feb029;
    --lightgrey: #8f8f8f;
    --grey: #606060;
    --semidarkgrey: #282828;
    --darkgrey: #181818;

    --vue: #42b883;
    --node: #215732;
    --javascript: #f7df1e;
    --html: #e34f26;
    --css: #002561;
    --java: #eb2d2f;
    --csharp: #67217a;
    --python: #4584b6;
    --yarn: #5b568e;

    --tag: #203143;
    --selection: #3535357e;
}

body {
    background-color: var(--black);
    color: var(--white);
}

::selection {
    background: var(--selection);
    color: var(--white);
}

/* FUNCTIONS */
.flex-column {
    display: flex;
    flex-direction: column;
}

.emphasize {
    font-weight: 800;
}

.emoji-orange {
    color: var(--orange);
}

.emoji-grey {
    color: var(--lightgrey);
}

.icon-bottom {
    margin-bottom: 0.4rem;
}

p.main-text {
    color: var(--grey);
    font-size: 2.4rem;
    text-align: center;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--white) 0%, var(--grey) 60%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

p.main-text-min {
    font-size: 1.6rem !important;
}

button.call-to-action {
    background-color: var(--darkgrey);
    color: var(--lightgrey);
    border: none;
    padding: 0.8rem 2.6rem;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s ease;
}

button.call-to-action:hover {
    background-color: var(--blurple);
    color: var(--black);
    cursor: pointer;
}

button.call-to-action:disabled:hover {
    background-color: var(--grey);
    cursor: default;
    color: var(--black);
}

@media screen and (max-width: 768px) {
    p.main-text {
        font-size: 2rem;
    }
    
    button.call-to-action {
        padding: 0.6rem 2rem;
    }
    
    p.main-text-min {
        font-size: 1.4rem;
    }
}